#labelInformation{
    -fx-font-size: 12px;
    -fx-font-family: sans-serif;
    -fx-text-fill: #4f61ea;

}
#information{
    -fx-font-size: 10px;
    -fx-font-family: sans-serif;
    -fx-text-fill: #4f61ea;
}
#handleButton{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white; 

}

#titlePane{
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff; 
    -fx-font-family: sans-serif;
    
}